.FirstRow {
    border-bottom: 1px solid #e3e1e1 ;
    margin-top: 20px;
    width: 100%;

}

.RightPart {
    display: flex;
    align-items: center;
}

.SideFilters {
    display: none;
    background-color: white;
    color: black;
    border: none;
}

.SortIcon {
    border: none;
    outline: none;
    font-size: 15px;
    min-width:130px;
    padding: 10px;
    margin-right: 12px;
}

.FilterPart {
    display: flex;
    justify-content:space-between;
    padding-right: 20px;
    align-items: center;
    font-size: 15px;
}

.Filterbtn {
    background-color: #eee;
    border: none;
    padding: 8px 12px;
    border-radius: 5px ;
    font-size: 12px;
    font-weight: bold;
}

.FilterSlider {
    width: 285px;
    margin-top: 20px; 
}

.ProductsList {
    border-left: 1px solid #e3e1e1 ;
    margin-left: 0px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Pagination {
    margin: 0px 0px 20px 350px;
}

@media (max-width: 1399px) {
    .LeftPart {
        width: 700px;
    }

    .FilterSlider {
        width: 250px;
    }

}


@media (max-width: 1199px) {
    .LeftPart {
        width: 510px;
    }

    .FilterSlider {
        width: 200px;
    }
    
    .Pagination {
        margin-right: 100px;
    }
}

@media (max-width: 991px) {
    .SideFilters {
        display: inline;
    }
    
    .ShowingResults {
        display: none;
    }

    .LeftPart {
        width: 470px;
    }

    .ItemsList {
        display: none;
    }

    .RowTwoLeftSide {
        display: none;
    }
    
    .ProductsList{
        border: none;
        padding: 0px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .Pagination {
        margin-right: 400px;
    }

}

@media (max-width: 767px) {
    .LeftPart {
        width: 300px;
    }

    .ProductsList{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .Pagination {
        margin: 10px;
    }
}

@media (max-width: 531px) {
    .ProductsList{
        grid-template-columns: repeat(2, auto);
        gap: 0px;

    }

    .LeftPart {
        width: 250px;
    }

}


@media (max-width: 505px) {
    .SortIcon {
        display: none;
    }
    
    .LeftPart {
        display: flex;
        justify-content: center;
        padding-left: 50px;
        width: 100%;
    }

    .ProductsList {
        grid-template-columns: repeat(1, auto);
        margin: auto;
    }
}